{% extends 'base.html.twig' %}

{% block title %}New Bye{% endblock %}

{% block body %}
    <h1>Create new Bye</h1>

    {{ include('bye/_form.html.twig') }}

    <a href="{{ path('bye_index') }}">back to list</a>
{% endblock %}
